.greeting-box {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-inline: 20px;

  color: var(--primary-text-color);

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../../assets/images/1585556930_45544.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  max-width: 480px;
  height: auto;
  margin-top: 15px;
  padding: 10px;

  text-align: center;

  font-size: 15px;
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 30px;
  color: var(--secondary-text-color);

  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .instructions {
    font-size: 12px;
  }
}

.set-name-box {
  display: flex;
  align-items: center;
  margin-block: 20px;
  padding: 5px;
}

.set-name-box__input {
  width: 120px;
  height: 30px;

  padding-inline: 10px;
  padding-block: 5px;

  color: var(--primary-text-color);

  background-color: transparent;
  outline: none;

  background-color: var(--accent--button-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.set-name-box__button {
  height: 30px;
  margin-left: 10px;
}

.set-name-box__button:hover,
.set-name-box__button:focus {
  background-color: var(--accent--button-color);
}

.greeting-page__link {
  background-color: var(--accent--button-color);
}

.hide-scrollbar {
  overflow-x: hidden;
}
