.stats-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.stats-bar__item {
  min-width: 120px;
  padding: 5px;
  color: var(--accent-color);

  font-weight: 700;
  text-transform: capitalize;

  text-align: center;
}
