.stats-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  outline: 1px solid #ffff;
}

.stats-bar__item {
  width: 120px;
  padding: 5px;
  color: #ffff;
  text-transform: capitalize;
  outline: 1px solid #ffff;
}
