.bet-panel {
  width: 300px;
  height: 150px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bet-result {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  border: 1px solid #fff;
  border-radius: 50%;
}

.bet-button {
}

.bet-icon {
  width: 30px;
  height: 30px;
}
/* .bet-button:hover,
.bet-button:focus,
 {

} */
