.header {
  height: 40px;
  background-color: var(--primary-bg-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding-block: 10px;
}
