.bet-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 600px;
  height: 100px;

  margin-top: 20px;

  outline: 1px solid #ffff;
}

.bet-content-box__item {
  width: 200px;
  height: 100%;
  padding: 10px;

  outline: 1px solid #ffff;
}

.player-name {
  height: 30px;
  outline: 1px solid #ffff;
  text-align: center;
}

.bet-amount {
  outline: 1px solid #ffff;
}

.bet-option {
  margin-top: 10px;
}
